body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: Arial, sans-serif;
}

.table-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.table-description h3 {
  color: #333;
  margin: 0;
}

#search {
  width: 200px; /* ou ajuste conforme necessário */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #404042;
  color: white;
}

tr:hover {
  background-color: #f5f5f5;
}

.colunaClique {
  cursor: pointer;
  color: #404042;
  font-weight: bold;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #1c247c;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  

  .custom-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .btn-submit {
    display: inline-block;
    padding: 8px 18px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: #1c247c;
    border: 1px solid #1c247c;
    border-radius: 2px;
    transition: background-color 0.3s;
    
  }

  .btn-submit:hover {
    background-color: #1c247c;
  }

  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #header {
    background: linear-gradient(45deg, #ff0000, #ffffff, #1c247c);
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  #title {
    text-align: left;
    margin-left: 20px; /* Espaço à esquerda do título */
  }

  #btnHeader {
    background-color: #f0f0f0;
    color: rgb(12, 12, 12);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px; /* Espaço à direita do botão */
  }

  .pagination-container {
    text-align: right;
    margin-top: 10px; /* Adapte conforme necessário */
  }
  
  .pagination-container button {
    padding: 5px 10px; /* Ajuste conforme necessário */
    font-size: 12px; /* Ajuste conforme necessário */
    margin-left: 5px; /* Ajuste conforme necessário */
  }
